:root {
  --black: #000;
  --white: #fff;
  --cream: #fefbf4;
  --green: #608168;
  --blue: #37718e;
  --orange: #eb572a;
  --navy: #363b45;
  --yellow: #fdbc4a;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
}

.component__code {
    font-family: roc-grotesk, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.component__img {
  width: 15%;
}

img {
    width: 40%;
}

.component__title {
  font-size: 75px;
  align-items: center;
  font-family: impetus, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.component__button {
  font-size: 20px;
  padding: 5px;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.component__button span {
  background-color: var(--cream);
}


.component__underline {
  font-size: 20px;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
}

.component__custom {
  font-size: 20px;
  font-family: bennet-banner-extra-condense,sans-serif;
  font-weight: 400;
  font-style: normal;
}

