:root {
  --black: #000;
  --white: #fff;
  --cream: #fefbf4;
  --green: #608168;
  --blue: #37718e;
  --orange: #eb572a;
  --navy: #363b45;
  --yellow: #fdbc4a;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-size: 35px;
  text-decoration: underline;
}

h3 {
  font-size: 20px;
}



.component {
  font-size: 15px;
  padding: 5px;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.component__img {
  width: 15%;
}

.nav__screen {
  width: 50%;
}

.logo__screen {
  width: 23%;

}

.underline {
  text-decoration: underline;
}

.grotesk{
  font-family: roc-grotesk, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.bennet {
  font-size: 22px;
  color: #eb572a;
  font-family: bennet-banner-extra-condense,sans-serif;
  font-weight: 400;
  font-style: normal; 
}


.component__underline {
  font-size: 15px;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
}

.component__custom {
  font-size: 20px;
  color: #eb572a;
  font-family: bennet-banner-extra-condense,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.screenshot__img {
  width: 50%;
}

/* navigation bar css*/
.container {
  background-color: var(--cream);
  width: 100%;
  height: 65px;
  position: relative;
}

.topnav {
  display:flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  margin: auto;
  height: 100%;
}

.topnav ul {
  list-style: none;
  margin-left:0;
  padding:24px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

/* start: This is the container for my navigation */
.topnav a {
  float: center;
  text-align: center;
  padding: 20px;
  font-size: 15px;
  font-family: 'Archivo', sans-serif;
  text-decoration:none;
  color: rgb(5,5,5);
  z-index: 40;
}
 
.topnav a:hover {
    text-decoration: underline;
}

.third { /*what does this link to?*/
    max-width: initial;
}
  /* END: This is the container for my navigation */


  .padding-top {
    padding-top: 100px;
  }

  .hero__section {
    padding-bottom: 25px;
    max-width: 100%;
  }

  .hero__redo {
    background-color: var(--cream);
    font-size: 60px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
  }

  .hero__logo {
    max-width: 183px;
    padding: 0;
  }

.nav__img {
  max-width: 20%;
}

.top__img {
  width: 40%;
}

.top__img1 {
  width: 20%;
}

.product-main__img {
  width: 25%;
}

.container {
  background-color: var(--cream);
  width: 100%;
  height: 65px;
}

.amaro {
  text-decoration: none;
  width: 50%;
  font-size: 22px;
  font-family: roc-grotesk,sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  color: var(--blue);
  text-align: center;
}

.amaro__link {
  color:var(--blue);
  font-size: 10px;
  text-underline-offset: 25%;
  position: relative;
  bottom: 15px;
}

.amaro__link:hover {
  color: var(--black);
}

.component__custom2 {
  font-size: 22px;
  color: var(--blue);
  font-family: bennet-banner-extra-condense,sans-serif;
  font-weight: 400;
  font-style: normal;
}


.wht {
  color: var(--white)
}

.blk {
  color: var(--black);
}

.absolute {
  position:absolute
}

.flex {
  display:flex
}

.flex-wrap-wrap {
  flex-wrap: wrap
}

.flex-wrap-nowrap {
  flex-wrap:nowrap
}

.justify-center {
  justify-content: center
}
.justify-space-around {
  justify-content:space-around
}
.justify-space-between {
  justify-content:space-between
}

/* homepage specific selectors */

.callout {
  padding:0 5%;
}

.callout p{
  font-size:60px;
  line-height:1.25
}


/*copy/paste from second_main.css*/