:root {
    --black: #000;
    --white: #fff;
    --cream: #fefbf4;
    --green: #608168;
    --blue: #37718e;
    --orange: #eb572a;
    --navy: #363b45;
    --yellow: #fdbc4a;
  }
  
  html {
      box-sizing: border-box;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }
  
  body {
    font-family: roc-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--cream);
  }
  
  h3 {
    font: roc-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .container {
    background-color: var(--cream);
    width: 100%;
    height: 65px;
    position: relative;
  }
  
  .topnav {
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    margin: auto;
    height: 100%;
  }
  
  .topnav ul {
    list-style: none;
    margin-left:0;
    padding:24px;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* start: This is the container for my navigation */
  .topnav a {
    float: center;
    text-align: center;
    padding: 20px;
    font-size: 15px;
    font-family: 'Archivo', sans-serif;
    text-decoration:none;
    color: rgb(5,5,5);
    z-index: 40;
  }
   
  .topnav a:hover {
      text-decoration: underline;
  }

  .third { /*what does this link to?*/
      max-width: initial;
  }
    /* END: This is the container for my navigation */

  h2 {
    font-family: roc-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 100%;
  }

.wht {
    color: var(--white)
}

.blk {
    color: var(--black);
}

.absolute {
    position:absolute
}

.flex {
    display:flex
}

.flex-wrap-wrap {
    flex-wrap: wrap
}

.flex-wrap-nowrap {
    flex-wrap:nowrap
}

.justify-center {
    justify-content: center
}
.justify-space-around {
    justify-content:space-around
}
.justify-space-between {
    justify-content:space-between
}

/* homepage specific selectors */

.callout {
    padding:0 5%;
}

.faccia {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  justify-content: space-between;
  

}

.callout p{
    font-size:60px;
    line-height:1.25
}


/* start: this is the template for the next articles*/

    .products {
        width:100%;
    }

  .product__img {
    box-sizing: border-box;
    width: 50%;
    border: 20px solid var(--cream);
  }
  
  .product-main__img {
    width: 50%;
    margin-top: 40px;
  }

.product__grid img{
   max-width: 100%
  }
  
  .product__grid {
      box-sizing: border-box;
      padding:50px;
      width:50%;
  }

  .aperitivo {
    text-decoration: none;
    width: 100%;
    font-size: 22px;
    line-height: 1.2;
    color: var(--orange);
    text-align: center;
  }

  .aperitivo__link {
    color:var(--orange);
    width: 100%;
    font-size: 10px;
    text-underline-offset: 25%;
    position: relative;
    bottom: 15px;
  }

  .aperitivo__link:hover {
    color: var(--black);
  }

  .component__custom1 {
    font-size: 22px;
    color: #eb572a;
    font-family: bennet-banner-extra-condense,sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .amaro {
    text-decoration: none;
    width: 100%;
    font-size: 22px;
    line-height: 1.2;
    color: var(--blue);
    text-align: center;
  }

  .amaro__link {
    color:var(--blue);
    font-size: 10px;
    text-underline-offset: 25%;
    position: relative;
    bottom: 15px;
  }

  .amaro__link:hover {
    color: var(--black);
  }

  .component__custom2 {
    font-size: 22px;
    color: var(--blue);
    font-family: bennet-banner-extra-condense,sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .nocino {
    text-decoration: none;
    width: 100%;
    font-size: 22px;
    line-height: 1.2;
    color: var(--black);
    text-align: center;
  }

  .nocino__link {
    color:var(--black);
    font-size: 10px;
    text-underline-offset: 25%;
    position: relative;
    bottom: 15px;
  }

  .nocino__link:hover {
    color: var(--black);
  }

  .component__custom3 {
    font-size: 22px;
    color: var(--black);
    font-family: bennet-banner-extra-condense,sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .fernet {
    text-decoration: none;
    width: 100%;
    font-size: 22px;
    line-height: 1.2;
    color: var(--green);
    text-align: center;
  }

  .fernet__link {
    color:var(--green);
    font-size: 10px;
    text-underline-offset: 25%;
    position: relative;
    bottom: 15px;
  }

  .fernet__link:hover {
    color: var(--black);
  }

  .component__custom4 {
    font-size: 22px;
    color: var(--green);
    font-family: bennet-banner-extra-condense,sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .gorini {
    text-decoration: none;
    width: 100%;
    font-size: 22px;
    line-height: 1.2;
    color: var(--yellow);
    text-align: center;
  }

  .gorini__link {
    color:var(--yellow);
    font-size: 10px;
    text-underline-offset: 25%;
    position: relative;
    bottom: 15px;
  }

  .gorini__link:hover {
    color: var(--black);
  }

  .component__custom5 {
    font-size: 22px;
    color: var(--yellow);
    font-family: bennet-banner-extra-condense,sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .nonna {
    font-size: 10px;
    max-width: 100%;
    height: auto;
    text-align: center;
    vertical-align: middle;
  }

  .nonna__link {
    color:var(--black);
    font-size: 10px;
    text-underline-offset: 25%;
    position: relative;
    bottom: 6px;
  }

  .more__link {
    color:var(--white);
      font-size: 10px;
      text-underline-offset: 25%;
      display: inline;
      text-align: center 
      /*not sure what to do here*/
  }
  
  .more__link:hover {
    color:var(--green)
  }

  .topnav__logo {
      width: 60%;
      padding-top: 92px;
  }

  .hero__img {
    height: auto;
    display: block;
    object-fit: contain;
    max-width: 183px;
    z-index: 100;
  }

/* relative positioning so that children adhere to parent container */
.main__img {
      position:relative;
      width:100%;
      height: 660px;
  }

.main__img img {
    object-fit:cover;
    object-position: center center;
    width:100%;
    height:100%;
}

  .component__title {
    font-size: 75px;
    align-items: center;
    font-family: impetus, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .component__button {
    font-size: 15px;
    padding: 5px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .component__underline {
    font-size: 15px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
  }

    .footer {
      background-color: var(--green);
    }

    .ul__social {
      columns: 2;
      color: var(--black);
      list-style-type: none;
    }

    .footer__logo {
      height: 100%;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    