:root {
    --black: #000;
    --white: #fff;
    --cream: #fefbf4;
    --green: #608168;
    --blue: #37718e;
    --orange: #eb572a;
    --navy: #363b45;
    --yellow: #fdbc4a;
  }
  
  html {
      box-sizing: border-box;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }
  
  body, h1 {
    font-family: roc-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--cream);
  }
  
  h2 {
    font-family: roc-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 100%;
  }

  .aperitivo {
    text-decoration: none;
    color: var(--orange);
  }

  .aperitivo__link {
    color:var(--orange);
    font-size: 12%;
  }

  .aperitivo a:hover {
    color: var(--black);
  }

  .topnav__logo {
      width: 60%;
      padding-top: 92px;
  }

  .hero__img {
    height: auto;
    display: block;
    object-fit: contain;
    max-width: 183px;
  }

  .main__img {
      max-height: 792px;
      max-width: 2160px;

  }

  .component__title {
    font-size: 75px;
    align-items: center;
    font-family: impetus, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .component__button {
    font-size: 15px;
    padding: 5px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .component__button span, .component__custom span {
    background-color: var(--cream);
  }
  
  .component__underline {
    font-size: 15px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
  }
  
  .component__custom {
    font-size: 20px;
    color: #eb572a;
    font-family: bennet-banner-extra-condense,sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .nav__img {
    max-width: 20%;
  }
  
  .top__img {
    width: 40%;
  }
  
  .top__img1 {
    width: 20%;
  }
  
  .product__img {
    box-sizing: border-box;
    width: 50%;
    border: 20px solid var(--cream);
    float: left;
  }
  
  .product-main__img {
    width: 50%;
    margin-top: 40px;
  }
  
  .product__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .container {
    background-color: var(--cream);
    width: 100%;
    height: 65px;
  }
  
  .topnav {
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    margin: auto;
    height: 100%;
  }
  
  .topnav ul {
    list-style: none;
    margin-left:0;
    padding:24px;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* This is the container for my navigation */
  .topnav a {
    float: center;
    text-align: center;
    padding: 20px;
    font-size: 15px;
    font-family: 'Archivo', sans-serif;
    text-decoration:none;
    color: rgb(5,5,5);
    z-index: 40;
  }
   
  .topnav a:hover {
      text-decoration: underline;
  }

  .third {
      max-width: initial;
  }