<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/aij8zvz.css">
    <link rel="stylesheet" href="https://use.typekit.net/aij8zvz.css">
    <link rel="stylesheet" href="https://use.typekit.net/aij8zvz.css">
    <link rel="stylesheet" href="https://use.typekit.net/aij8zvz.css">
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="css/normalize.css"/>
    <title>Components | Faccia Brutto Spirits </title>
</head>
<body>
    <h1>Web Components</h1>
    <h2>Typography Defaults</h2>

    <article class="component"></article>
    <h3 class="component__name">Navigation Bar</h3>
    <img
        srcset="../components/img/2_top_section/main-body-copy.png 2x" 
        src="../components/img/2_top_section/main-body-copy.png" 
        alt="body copy" 
    />
    <div class="component__code">
        <p>At Faccia Brutto we produce natural and delicious organic Italian spirits using old world methods, and sourcing from sustainable botanical producers.
            </p>
    </div>

    <article class="component"></article>
    <h3 class="component__name">Logo</h3>
    <img
        src="../components/img/1_header_nav/header-logo.png"
        alt="body copy" 
    />
    <div class="component__title">
        <p>Faccia<br>
           Brutto<br>
        </p>
    </div>

    <article class="component"></article>
    <h3 class="component__name">Buttons</h3>
    <p>
    <img class="component__img"
        src="../components/img/1_header_nav/button-stockists.png"
        alt="stockists button" 
    />
    <img class="component__img"
        src="../components/img/1_header_nav/button-und-stockists.png"
        alt="stockists underline button" 
    />
    </p>
    <p>
    <img class="component__img"
        src="../components/img/1_header_nav/button-press.png"
        alt="press button" 
    />
    <img class="component__img"
        src="../components/img/1_header_nav/button-und-press.png"
        alt="press underline button"   
    /> 
    </p>
    <div class="component__button">
        <p><span>STOCKISTS</span></p>
        <p><span>PRESS</span></p>
        <p><span>RECIPES</span></p>
        <p><span>OUR STORY</span></p>
        <p><span>MERCH</span></p>
        <div class="component__underline">
            <p><span>STOCKISTS</span></p>
            <p><span>PRESS</span></p>
            <p><span>RECIPES</span></p>
            <p><span>OUR STORY</span></p>
            <p><span>MERCH</span></p>
    </div>
    







    <article class="component"></article>
    <h3 class="component__name">Custom Font</h3>
    <div class="component__custom">
        <p>A P E R I T I VO</p>
    </div>
    </div>
</body>
</html>